ul {
    list-style: disc;
    padding-left: 1.5rem;
}

.icon-file-pdf {
    font-size: 25px;
    margin-top: 10px;
}

nav .h-full .relative,
nav .h-full .relative > div,
nav .h-full .relative > div > a {
    height: 100%;
}

/*nav .h-full div {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

.owl-nav {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: calc(50% - 30px);
    transform: translateY(-50%);
}

.owl-nav > button > span {
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.owl-dots {
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    position: absolute;
    bottom: 50px;
}

.owl-dots > button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray !important;
    margin: 0 2px;
}

.owl-dots > button.active {
    background-color: white !important;
}

div.dt-container.dt-empty-footer tbody > tr:last-child > * {
    border-bottom: #e5e7eb !important;
}

.dataTable, .dt-paging, .dt-layout-row {
    color: white !important;
}

.dataTable tbody tr:nth-child(2n) {
    background-color: #202325;
}

table.dataTable td.dt-type-numeric {
    text-align: center !important;
}

select.dt-input {
    width: 60px;
    margin-right: 10px;
}

input.dt-input {
    margin-left: 10px !important;
}

.dataTable th {
    background-color: rgb(33, 37, 41);
}

.dataTable th.text-center * {
    text-align: center;
}

@media (max-width: 1280px) {
    .owl-carousel.slider {
        padding-left: 20px;
        padding-right: 20px;
    }

    .owl-nav {
        width: calc(100% - 40px);
    }

    .owl-nav > button > span {
        font-size: 50px;
    }
}
